body {
    color: rgba(31, 180, 206, 0.507);
    background: black;
    margin: 0px;
    font-family: "Lobster Two", sans-serif;
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    overflow: hidden;
    min-width: 500px;
}

.wrapper .texto-estatico {
    font-size: 40px;
     color: #ff0000;
}

.wrapper .texto-dinamico {
  margin-left: 15px;
    height: 60px;

}

.wrapper .texto-dinamico li {
    list-style: none;
    font-size: 35px;
    position: relative;
    color: #a600ff85;
    top: 0px;
    animation: slide 8s steps(3) infinite;
    animation-name: none;
    animation-duration: 8s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    margin-left: 10px;

}

@keyframes slide{
    100%{
        top: -240px;
    }
}

.wrapper .texto-dinamico li::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-left: 2px solid #44ff00;
    animation: typing 2s steps(15) infinite;
}

@keyframes typing {
    40%, 60% {
        left: 105%;
    }
    100% {
        left: 0%;
    }
}
   

.darkflix {
  font-family: Arial, sans-serif;
  font-size: 60px;
  color: #ff0000;
  text-align: center;
  margin-top: 20px;

  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards, neon 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000;
  }
  to {
    text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
  }
}

.search-box {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    background: black;
    border-radius: 40px;
    padding: 10px;
}

.search-bnt {
    color: rgb(255, 252, 252);
    float: right;
    width: 38px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff url(https://cdn-icons-png.flaticon.com/512/622/622669.png) no-repeat center;
    background-size: 60%;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgba(255, 38, 0, 0.74);
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
    
}

.search-box:hover > .search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-box:hover > .search-bnt {
    background: #ffffff url(https://cdn-icons-png.flaticon.com/512/622/622669.png) no-repeat center;
    background-size: 70%;
    background-color: rgb(255, 38, 0);
}

header {
    border-bottom: solid 2px rgba(248, 204, 7, 0.705);
    padding: 20px;
    font-size: 40px;
    color: rgb(189, 4, 4);

}

.chamada {
    background: #09040b7a;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 100px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 17px;

}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgba(241, 66, 66, 0.918);
}

.music {
  background: #192733;
  display: flex;
  justify-content: center;
  padding: 80px;       
  padding-left: 315px;  
}


.playlist h3 {
    color: #192733;
    margin-right: 50%px;

}

h3 {
    font-size: 35px;
    color: rgba(7, 10, 65, 0.797);
}